apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: prod-roam-ui
spec:
    parentRefs:
        - name: default-gateway
          namespace: envoy-gateway-system
    hostnames:
        - 'roam.austinbayley.co.uk'
    rules:
        - matches:
              - path:
                    type: PathPrefix
                    value: /
          backendRefs:
              - name: ui
                port: 80
