name: Build and Push on Release
on:
    release:
        types: [released]

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'

        steps:
            - id: 'checkout'
              name: Checkout
              uses: 'actions/checkout@v4'
              with:
                  fetch-depth: 0
                  ref: '${{ github.event.release.tag_name }}'

            - id: 'auth'
              name: 'Authenticate to Google Cloud'
              uses: 'google-github-actions/auth@v2'
              with:
                  token_format: 'access_token'
                  workload_identity_provider: 'projects/416469577734/locations/global/workloadIdentityPools/github/providers/actions'
                  service_account: 'github-actions@portfolio-463406.iam.gserviceaccount.com'

            - id: 'login'
              name: Login to Docker
              uses: 'docker/login-action@v3'
              with:
                  registry: 'europe-west2-docker.pkg.dev'
                  username: 'oauth2accesstoken'
                  password: '${{ steps.auth.outputs.access_token }}'

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - id: 'build-push'
              name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: europe-west2-docker.pkg.dev/portfolio-463406/docker-repository/${{ github.event.repository.name }}:${{ github.event.release.tag_name }}
                  platforms: linux/amd64,linux/arm64
